@import '../abstracts/_variables.scss';

.headerBar {
  width: 100%;
  height: 3.6rem;

  padding: 0 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #fff;
  border-bottom: 1px solid var(--line);

  .left {
    display: flex;
    align-items: center;

    & > :first-child {
      width: 2.3rem;
      margin-right: 0.5rem;
    }

    & > :last-child {
      width: 6rem;
    }
  }

  img {
    width: 1.2rem;
  }
}
