.changePw {
  .fixMenu {
    position: relative;
    .fixSideBar {
      position: static;
      top: 0;
      left: 0;
    }
    .fixHeaderBar {
      width: 84vw;

      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      flex-direction: column;

      .mainScreen {
        background-color: var(--bgl);
        width: 100%;
        height: calc(100vh - 3.6rem);
        // border: 1px solid red;
        padding: 1.7rem;

        .centerPwModal {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          //⚪ 비밀번호변경 모달 스타일
          .changePwModal {
            .arrowIcon {
              width: 1.5rem;
              height: 2.8rem;
              margin: 1rem 0 5rem 0;
              cursor: pointer;
            }
            h1 {
              margin-bottom: 1rem;
            }

            .changePwBtn {
              width: 100%;
              height: 2.8rem;
              padding: 0.7rem 0;
              margin-top: 7rem;
              border-radius: 5rem;
              border: none;
              color: #fff;
              background-color: var(--main);
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
