.diary {
  .fixMenu {
    position: relative;
    .fixSideBar {
      position: static;
      top: 0;
      left: 0;
    }
    .fixHeaderBar {
      position: absolute;
      top: 0;
      right: 0;
      width: 84vw;

      display: flex;
      flex-direction: column;

      .mainScreen {
        position: relative;
        background-color: var(--bgl);
        width: 100%;
        height: calc(100vh - 3.6rem); //🐛 높이값 나머지를 구해야하는데
        // border: 1px solid red;
        overflow: hidden;

        .overlay {
          position: absolute;
          opacity: 0.5;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #dedede;
          display: none;

          &.active {
            display: block;
          }
        }

        .diaryListWrap {
          width: 100%;
          height: 95%; //🐛 높이값 나머지를 구해야하는데
          // filter: blur(6px);
          // flex-wrap: wrap;
          // display: flex;
          overflow: scroll;

          padding: 1.5rem;
          // border: 1px solid red;
          // &.active {
          //   display: none;
          // }

          display: grid;
          //gap: 간격조정 -> padding,margin이랑 똑같이 상하, 좌우값 입력된다.
          gap: 1.4rem;
          //1줄 6개
          grid-template-columns: repeat(6, 1fr);
          grid-template-rows: repeat(6, 1fr);
        }
      }
    }
  }
}
