.home .fixMenu {
  position: relative;
}
.home .fixMenu .fixSideBar {
  position: static;
  top: 0;
  left: 0;
}
.home .fixMenu .fixHeaderBar {
  position: absolute;
  top: 0;
  right: 0;
  width: 84vw;
  display: flex;
  flex-direction: column;
}
.home .fixMenu .fixHeaderBar .mainScreen {
  position: relative;
  background-color: var(--bgl);
  width: 100%;
  height: calc(100vh - 3.6rem);
  padding: 1.7rem;
}
.home .fixMenu .fixHeaderBar .mainScreen .homeTitle {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--line);
  color: var(--sub-bold);
}
.home .fixMenu .fixHeaderBar .mainScreen .overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #dedede;
  opacity: 0.5;
}
.home .fixMenu .fixHeaderBar .mainScreen .addCalendarModal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  z-index: 2;
  width: 30rem;
  height: 12rem;
  padding: 2rem;
  border-radius: 0.6rem;
  background-color: #fff;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
}
.home .fixMenu .fixHeaderBar .mainScreen .addCalendarModal .addCalendarModalContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home .fixMenu .fixHeaderBar .mainScreen .addCalendarModal .addCalendarModalContent input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid var(--point);
  outline: none;
  margin-bottom: 1.8rem;
}
.home .fixMenu .fixHeaderBar .mainScreen .addCalendarModal .addCalendarModalContent .addCalendarBtnWrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.home .fixMenu .fixHeaderBar .mainScreen .addCalendarModal .addCalendarModalContent .addCalendarBtnWrap .cancleBtn {
  cursor: pointer;
  width: calc(50% - 0.5rem);
  height: 2.5rem;
  border: 1px solid var(--sub-light);
  border-radius: 0.3rem;
  padding: 0.2rem;
  color: var(--sub-light);
  background-color: #fff;
}
.home .fixMenu .fixHeaderBar .mainScreen .addCalendarModal .addCalendarModalContent .addCalendarBtnWrap .cancleBtn:hover {
  background-color: var(--gbtn-hover);
  color: var(--sub-thin);
}
.home .fixMenu .fixHeaderBar .mainScreen .addCalendarModal .addCalendarModalContent .addCalendarBtnWrap .addBtn {
  cursor: pointer;
  width: calc(50% - 0.5rem);
  height: 2.5rem;
  border: 1px solid var(--point);
  border-radius: 0.3rem;
  padding: 0.2rem;
  color: var(--point);
  background-color: #fff;
}
.home .fixMenu .fixHeaderBar .mainScreen .addCalendarModal .addCalendarModalContent .addCalendarBtnWrap .addBtn:hover {
  background-color: var(--pbtn-hover);
}
.home .fixMenu .fixHeaderBar .mainScreen .CalendarListWrap {
  display: flex;
  margin-bottom: 1.2rem;
}
.home .fixMenu .fixHeaderBar .mainScreen .CalendarListWrap .addCalendar {
  cursor: pointer;
  width: 14rem;
  height: 14rem;
  background-color: var(--bgw);
  border-radius: 0.6rem;
  padding: 1rem;
  margin-right: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease;
}
.home .fixMenu .fixHeaderBar .mainScreen .CalendarListWrap .addCalendar p {
  padding-top: 1.5rem;
  color: var(--sub-bold);
}
.home .fixMenu .fixHeaderBar .mainScreen .CalendarListWrap .addCalendar:hover {
  background-color: var(--main);
  border: none;
}
.home .fixMenu .fixHeaderBar .mainScreen .CalendarListWrap .addCalendar:hover .add_icon {
  fill: white;
  stroke: #fff;
}
.home .fixMenu .fixHeaderBar .mainScreen .CalendarListWrap .addCalendar:hover p {
  color: #fff;
}
.home .fixMenu .fixHeaderBar .mainScreen .notifyTitle {
  position: relative;
}
.home .fixMenu .fixHeaderBar .mainScreen .notifyTitle button {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--sub-bold);
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.home .fixMenu .fixHeaderBar .mainScreen .notifyTitle .btn_removeAlert {
  width: -moz-fit-content;
  width: fit-content;
  text-align: end;
}/*# sourceMappingURL=home.css.map */