.setting {
  .fixMenu {
    position: relative;
    .fixSideBar {
      position: static;
      top: 0;
      left: 0;
    }
    .fixHeaderBar {
      position: absolute;
      top: 0;
      right: 0;
      width: 84vw;

      display: flex;
      flex-direction: column;

      .mainScreen {
        background-color: var(--bgl);
        width: 100%;
        height: calc(100vh - 3.6rem);
        padding: 1.7rem;
      }
    }
  }
}
